[submodule "my_plugins/neocomplete.vim"]
	path = my_plugins/neocomplete.vim
	url = https://github.com/yinsyim/neocomplete.vim.git
[submodule "my_plugins/vim-colors-solarized"]
	path = my_plugins/vim-colors-solarized
	url = https://github.com/yinsyim/vim-colors-solarized.git
